
@{
    ViewBag.Title = "NotFound";
}

<h2 class="text-center">Oooops, something went wrong</h2>

<p class="text-center"> <img class="align-content-center" src="~/Content/Images/bg_404.png" alt="HTTPnotFOUND" /></p>

<p class="text-center">@Html.ActionLink("Home", "Index", "Home")</p>
